@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@keyframes pop {
    0% {
        transform: scale(0.5) translateY(20px);
        opacity: 0;
    }

    100% {
        transform: scale(1) translateY(0px);
        opacity: 1;
    }
}

.animate-pop {
    animation: pop 0.25s ease-out forwards;
}